body {
   width: 100%;
  /* background-color: pink; */
background: #FC466B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* CONTAINER */
.container{
  border: 4px solid black;
  width:110%;
}


/* HEADER SECTION */
#header {
  background-color: #F9DCB6;
  padding:20px;
  height: 180px;
}
#header img {
  float:left;
  /* padding-top: -20px; */
  height:150px;
  border-radius: 10%;
  border: 2px solid grey;

}
#header h1 {
  line-height: 160px;
  text-align: center;
}
/* GAME SECTION */
.game-section{
  background-color: #E5E5E5;
  padding-top: 30px;
}
#about {
  background-color: #88BA91;
  margin-left:16px;
  width:100%;

}
#about h2,h3,h4,p{
  margin-left: 20px;
}
input #number {
  padding:15px;
}
