body {
  width: 100%;
  background: linear-gradient(to right, #FFD6BB, #E4E4E4);
  font-size: 20px;
}

/* CONTAINER */

.container {
  width: 110%;
  margin: 12px auto;
  border-radius: 10px;
}

/* HEADER SECTION */

#header {
  background-color: #FED9B9;
  padding: 20px;
  height: 180px;
}

#header img {
  float: left;
  height: 150px;
  border-radius: 10%;
  border: 2px solid grey;
}

#header h1 {
  line-height: 160px;
  text-align: center;
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 60px;
}

/* GAME SECTION */

.game-section {
  background-color: #E5E5E5;
  padding-top: 30px;
  font-family: 'Cardo', serif;
  padding-left: 16px;
}

.rules li {
  font-family: 'Cardo', serif;
  font-size: 20px;
}

#about {
  background-color: #88BA91;
  width: 97%;
  font-size: 20px;
  height: 500px;
  padding-top: 8px;
}

#about h2, h3, h4, p {
  margin-left: 20px;
}

#ping-pong h2 {
  margin-left: 16px;
  font-size: 30px;
}

#ping-pong label {
  margin-left: 16px;
}

form #number {
  padding: 9px;
  border-radius: 6px;
  text-align: center;
  margin-left: 8px;
  font-size: 18px;
  width: 220px;
  border: none;
  background-color: #fff;
  margin-right: 8px;
}

form .btn {
  border: none;
  background-color: #FED9B9;
}
