body {
  width: 100%;
  background-image: url(../images/abc.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-color: #61732D;  */
  /*background: #FC466B;
  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #3F5EFB, #FC466B);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 20px;
}

/* CONTAINER */

.container {
  /* border: 4px solid black; */
  width: 110%;
  margin:12px auto;
  border-radius: 10px;
}

/* HEADER SECTION */

#header {
  background-color: #FED9B9;
  padding: 20px;
  height: 180px;
}

#header img {
  float: left;
  /* padding-top: -20px; */
  height: 150px;
  border-radius: 10%;
  border: 2px solid grey;
}

#header h1 {
  line-height: 160px;
  text-align: center;
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 60px;
}

/* GAME SECTION */

.game-section {
  background-color: #E5E5E5;
  padding-top: 30px;
  font-family: 'Cardo', serif;
  padding-left: 16px;
}

.rules li {
  font-family: 'Cardo', serif;
  font-size: 20px;
}

#about {
  background-color: #88BA91;
  /* margin-left: 16px; */
  width: 97%;
  font-size: 20px;
  height: 500px;
  padding-top: 8px;
}

#about h2, h3, h4, p {
  margin-left: 20px;
}

#ping-pong h2 {
  margin-left: 16px;
  font-size: 30px;
}
#ping-pong label {
  margin-left: 16px;
}

form #number {
  padding: 9px;
  border-radius: 6px;
  text-align: center;
  margin-left: 8px;
  font-size: 18px;
  width: 220px;
  border: none;
  background-color: #fff;
  margin-right:8px;
}

form .btn {
  border: none;
  background-color: #FED9B9;
}

ul .ping-list {
  list-style-type: square;
}
li {

}
